<app-stock-list titulo="Clientes" (onClick)="addCliente()">
    <div class="card-table">
        <mat-card matRipple *ngFor="let cliente of clientes | async; let i = index" (click)="selCliente(cliente.nome)">
            <mat-card-header>
                <img mat-card-avatar src="https://picsum.photos/64/64?random={{i}}" />
                <!--<button mat-card-avatar mat-mini-fab color="accent" (click)="deletaCliente(cliente)">
                    <mat-icon>delete</mat-icon>
                </button>-->
                <mat-card-title>
                    {{cliente.nome}}
                </mat-card-title>
                <mat-card-subtitle>
                    {{cliente.telefone | phone}}
                </mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>
</app-stock-list>