.main-button{
    width: 95%;
    height: 95%;
    font-size: xx-large;
}

.main-icon{
    width: 64;
    height: 64;
}

.example-card {
    max-width: 400px;
}
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}